@{
    Html.ReferenceScript("scripts/lib/modernizr-1.7.js");
    Html.ReferenceScript("scripts/lib/jquery.validate.js");
    Html.ReferenceScript("scripts/lib/jquery.validate.unobtrusive.js");
    Html.ReferenceScript("scripts/app/core.js");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/styles.css")" rel="stylesheet" type="text/css" />
    @Html.RenderScripts()
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>Postback Blog</h1>
            </div>
            <div id="logindisplay">
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
