@{
    Html.ReferenceScript("scripts/lib/modernizr-1.7.js");
    Html.ReferenceScript("scripts/lib/jquery.validate.js");
    Html.ReferenceScript("scripts/lib/jquery.validate.unobtrusive.js");
    Html.ReferenceScript("scripts/app/admin.js");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Manage that Content - @ViewBag.Title</title>
    <link href="@Url.Content("~/css/admin/styles.css")" rel="stylesheet" type="text/css" />
    @Html.RenderScripts()
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>Admin</h1>
            </div>
            <div id="logindisplay">
            </div>
            @Html.Partial("_Nav")
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
